<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <meta name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0' >

  <link rel="manifest" href="manifest.json">
</head>
<body>
  <div id="App">

    <section class="" data-section="splash">
      <div class="section-container">
        <%- include ("../partials/splash.ejs") %>
      </div>
    </section>
    
    <section class="" id="home" data-section="home">
        <div class="section-container">
          <%- include ("../partials/home.ejs") %>
        </div>
    </section>
    
  <!--  -->

    <section class="hidden" id="mode-overview-screen" data-section="mode-overview-screen">
    <div class="section-container mode-overview-container">

      </div>

      <div class="game-mode-actions" style="padding:0px 5%;">
        <div class="d-flex flex-row flex-justify-center">
            <button class="button primary large back-button" data-audio-id="button"  data-action-id="close_mode_overview">Back</button>
             <button class="button primary large" data-audio-id="button load-mode" data-action-id="load_open_mode">Start</button>
          </div>
      </div>
      <div class="game-mode-cancel hidden" style="padding:0px 5%;">
        <div class="d-flex flex-row flex-justify-center">
            <button class="button primary large" data-audio-id="button" data-audio-id="button" data-action-id="cancel_load_mode">Cancel</button>
          </div>
      </div>
    </section>



    <%- include ("../pages/master-loading-screen.ejs") %>


    <%- include ("../pages/game.ejs") %>

    <%- include ("../partials/game-over-screen.ejs") %>


  </div>

  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1"> 
    <defs> 
        <pattern id="diagonal-stripe-1" 
        patternUnits="userSpaceOnUse" width="10" height="10"> 
        <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==" x="0" y="0" width="10" height="10"> </image> 
    </pattern> </defs> 
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
	<defs>
		<pattern id="pattern_EREf32" patternUnits="userSpaceOnUse" width="6.5" height="6.5" patternTransform="rotate(90)">
			<line x1="0" y="0" x2="0" y2="6.5" stroke="#FFFFFF" stroke-width="5" />
		</pattern>
	</defs>
	<rect width="100%" height="100%" fill="url(#pattern_EREf32)" :opacity="1" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
	<defs>
		<pattern id="pattern_yPqhrn" patternUnits="userSpaceOnUse" width="5" height="5" patternTransform="rotate(45)">
			<line x1="0" y="0" x2="0" y2="5" stroke="#FFFFFF" stroke-width="4" />
		</pattern>
	</defs>
	<rect width="100%" height="100%" fill="url(#pattern_yPqhrn)" :opacity="1" />
</svg>
</body>

<script>
  navigator.serviceWorker && navigator.serviceWorker.register('./sw.js').then(function(registration) {
    console.log('Excellent, registered with scope: ', registration.scope);
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Flip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/TextPlugin.min.js"></script>
<script src="/lib/gsap/CustomEase.min.js"></script>
<script src="/lib/gsap/CustomWiggle.min.js"></script>
<script src="/lib/gsap/ScrambleTextPlugin.min.js"></script>

<script>
  gsap.registerPlugin(CustomEase, CustomWiggle);
  CustomWiggle.create("Wiggle.uniform", {wiggles:6, type:"uniform"});


    var sfx_clickArr = [
      'click_3.wav',
      'Pop (6).wav',
      'Mouth Interface (4).wav',
      'Pop (3).wav'
    ];

    var $sfx_click = new Howl({
      src: '/audio/sfx/' + sfx_clickArr[1],
      volume: 1.0,
      onend: function () {
       // alert('We finished with the setup!');
      }
    });

    var $sfx_load_mode = new Howl({
      src: '/audio/sfx/Queue.wav',
      volume: 1.0,
      onend: function () {
       // alert('We finished with the setup!');
      }
    });

    var $sfx_button = new Howl({
      src: '/audio/sfx/' + sfx_clickArr[3],
      volume: 1.0,
      onend: function () {
       // alert('We finished with the setup!');
      }
    });

    var sfx_errorArray = [
      'click_17.wav',
      'Buzz Error (13).wav'
    ];
    var $sfx_error = new Howl({
      src: '/audio/sfx/' + sfx_errorArray[1],
      volume: 1.0,
      onend: function () {
       // alert('We finished with the setup!');
      }
    });

    var $sfx_start = new Howl({
      src: '/audio/sfx/' + 'Gong (2).wav',
      volume: 1.0,
      onend: function () {
       // alert('We finished with the setup!');
      }
    });


    var sfx_successArr = [
      'Special & Powerup (38).wav',
      'Special & Powerup (1).wav'
    ];

    var $sfx_success = new Howl({
      src: '/audio/sfx/' + sfx_successArr[0],
      volume: 1.0,
      onend: function () {
       // alert('We finished with the setup!');
      }
    });

    var $sfx_card_slide = new Howl({
      src: '/audio/sfx/' + 'cardPlace3.ogg',
      volume: 1.0,
      
      onend: function () {
       // alert('We finished with the setup!');
      }
    });

    var $musicOptions = [
      "Casual Game Music 05.wav"
    ];

    var $gameMusic = new Howl({
      src: '/audio/music/' + $musicOptions[0],
      loop: true,
      volume:0.6
    });

    var $voice_effects = new Howl({
      src: '/audio/music/voice_effects.mp3',
      loop: true,
      volume:0.6
    });

    var $voice_effects = new Howl({
      src: '/audio/sfx/voice_effects.mp3',
      sprite: {
        start: [0, 1000],
        finish: [1000, 1030],
        winner: [6000, 5000]
      }
    });

    var $start_game_intro = new Howl({
      src: '/audio/sfx/Drum Roll (1).wav',
      volume: 1.0,
    })
    

   var $sfx_count_up  = new Howl({
      src: '/audio/sfx/Prize Wheel 2 Spin Long.wav',
      volume: 1.0,
    });

    var $sfx_new_row  = new Howl({
      src: '/audio/sfx/Oriental.wav',
      volume: 1.0,
    })
    
  
</script>
</script>
<script src="/scripts/tools.js"></script>
<script src="/scripts/audio.js"></script>
<script src="/scripts/effect-methods.js"></script>
<script src="/scripts/effects.js"></script>
<script src="/scripts/game/card-styles.js"></script>
<script src="/scripts/game/card-methods.js"></script>
<script src="/scripts/gui-methods.js"></script>
<script src="/scripts/game.js"></script>
<script src="/scripts/game-logic.js"></script>
<script src="/scripts/game-server.js"></script>
<script src="/scripts/mode-overview-manager.js"></script>
<script src="/scripts/app-controller.js"></script>

<script src="/scripts/dev.js"></script>
<script>
</script>
</html>
